@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 7px; /* Default scrollbar width */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d25300;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e06c1f;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px; /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px; /* Adjust width for small screens */
  }
}
